[Unit]
Description=Property Viewer service 
 
[Service]
WorkingDirectory=/home/properties/property-viewer-depl
ExecStart=/home/properties/property-viewer-depl/property-viewer
User=properties

[Install]
WantedBy=multi-user.target
