[Unit]
Description=Property Viewer service 
 
[Service]
ExecStart=/home/properties/property-viewer/property-viewer
User=properties

[Install]
WantedBy=multi-user.target
