/* Layout */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    display: flex;
    align-content: stretch;
}

#search {
    width: 12em;
}

.search-section {
    margin-bottom: 8rem;
}

#result {
    width: 100%;
}

.result-section {
    width: 100%;
}

label {
    white-space: nowrap;
}

/* Typography */

body {
    font-size: 8px;
}

@media (min-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 3000px) {
    body {
        font-size: 36px;
    }
}

h1 {
    font-size: 1.5em;
}

#result {
    font-size: 0.9em;
}

.search-section {
    font-size: 1em;
}

/* Input form */

#search {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

.input-range-container {
    display: flex;
    flex-direction: row;
}

.input-container {
    margin-right: 0.1em;
    margin-left: 0.1em;
    width: 100%;
}

.agency {
    margin-top: 1.1em;
    display: flex;
}

#include-deleted {
    height: 1.5em;
    width: 1.5em;
    margin-left: 1em;
    margin-top: 1.5em;
}

#send {

    height: 1.8em;
    font-size: 0.8em;
    margin-top: 0.5em;
}

/* Input styling */
input,
select {
    width: 100%;
    height: 1.8em;
    font-size: 0.8em;
    border: 1px solid #AFAFAF;
    border-radius: 0.15em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-label {
    min-width: 5em;
}

.range .input-label {
    line-height: 1.0em;
}

.range-label {
    font-size: 0.6em;
}

.range .input-container {
    line-height: 0.8em;
}

select {
    width: 100%;
}

.spacer-h {
    width: 1em;
}

.spacer-v {
    height: 1em;
}

/* Table */

table {
    width: 100%;
    border-top: 1px solid #EFEFEF;
    border-spacing: 0px 0px;
    padding-top: 0.5em;
}

thead {
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

th,
td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.5em;
    padding-top: 0.2em; 
    padding-bottom: 0.2em;
}

th:first-child,
td:first-child {
    padding-left: 0.2em;
}

th:last-child,
td:last-child {
    padding-right: 0.2em;
}

tr:nth-child(even) {
    background-color: #EAEAEA;
}

.address {
    width: 16rem;
}

.url {
    max-width: 24em;
    white-space: nowrap;

    overflow: hidden;
}

.sortable {
    color: inherit;
    text-decoration: none;
}

.sortable:visited {
    color: inherit;
}

.sortable:hover {
    color: gray;
    cursor: pointer;
}

