html {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
    font-size: 8px;
    width: 100%;
    display: flex;
    align-content: stretch;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (min-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 3000px) {
    body {
        font-size: 36px;
    }
}

h1 {
    font-size: 1.5em;
}

#search {
    width: 12em;
    margin-bottom: 2rem;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

#heading {
    margin-bottom: 2rem;
}

#heading h1, h2, h3, h4, h5 {
    font-family: 'Arial', sans-serif;
    margin-bottom: 0.2em;
}

#description {
    font-size: 0.9em;
}

#result {
    width: 100%;
    font-size: 0.9em;
}

.search-section {
    font-size: 1em;
}

label {
    white-space: nowrap;
    min-width: 5em;
}

.input-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-field {
    margin-right: 0.1em;
    margin-left: 0.1em;
    width: 100%;
}

input,
select {
    height: 1.8em;
    font-size: 0.8em;
    border: 1px solid #e3e3e3;
    border-radius: 0.15em;
    background-color: white;
}

select {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::placeholder {
    color: #222222;
}

.input-range-fields {
    display: flex;
    align-items: center;
}

.checkbox {
    height: 1.5em;
    width: 1.5em;
    margin-left: 1em;
    border: 1px solid #e3e3e3;
}

button {
    background-color: white;
    border: 1px solid #e3e3e3;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin-top: 0.5em;
}

button:hover {
    background-color: #c1c1c1;
    cursor: pointer;
}

table {
    width: 100%;
    border-top: 1px solid #EFEFEF;
    border-spacing: 0px 0px;
    padding-top: 0.5em;
}

thead {
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

th,
td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

th:first-child,
td:first-child {
    padding-left: 0.2em;
}

th:last-child,
td:last-child {
    padding-right: 0.2em;
}

tr:nth-child(even) {
    background-color: #EAEAEA;
}

.address {
    width: 16rem;
}

.sortable {
    color: inherit;
    text-decoration: none;
}

.sortable:visited {
    color: inherit;
}

.sortable:hover {
    color: gray;
    cursor: pointer;
}
