/* Shared */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
}

body {
    display: flex;
    align-content: stretch;
    padding-left: 1rem;
    padding-right: 1rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2,
h3,
h4,
h5 {
    font-family: 'Arial', sans-serif;
    margin-bottom: 0.2rem;
}

label {
    white-space: nowrap;
    min-width: 5rem;
}

.input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input,
select {
    height: 1.8rem;
    border: 1px solid #e3e3e3;
    border-radius: 0.15rem;
    background-color: white;
}

select {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::placeholder {
    color: #AAAAAA;
}

.input-field {
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    width: 100%;
}

.input-range-fields {
    display: flex;
    align-items: center;
}

button {
    background-color: white;
    color: black;
    border: 1px solid #e3e3e3;
    padding: 0.5rem;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #c1c1c1;
    cursor: pointer;
}

table {
    border-top: 1px solid #EFEFEF;
    border-spacing: 0px 0px;
    padding-top: 0.5rem;
}

thead {
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    text-align: left;
}

th,
td {
    white-space: nowrap;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

tr:nth-child(even) {
    background-color: rgba(74, 111, 167, 0.05);
}

.right-align {
    text-align: right !important;
}

th .right-align {
    display: inline-block;
    width: 100%;
}

.sortable {
    color: inherit;
    text-decoration: none;
}

.sortable:visited {
    color: inherit;
}

.sortable:hover {
    color: gray;
    cursor: pointer;
}

table a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.disabled, .disabled a {
    color: gray;
}

/* Logo */

#heading {
    margin-bottom: 1.5rem;
}

#heading a {
    display: flex;
    color: black;
    text-decoration: none;
    white-space: nowrap;

}

#logo-container {
    display: flex;
    margin-bottom: 0.5rem;
}

img {
    max-width: 5rem;
    height: auto;
}

#logo-text {
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 0.2rem;
    font-size: 1.5rem;
}

/* Filters */

#filters {
    width: 12rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

/* Listings */

#metadata {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#listings {
    width: 100%;
    white-space: nowrap;
}

#listings thead {
}

#listings th:first-child,
#listingstd:first-child {
    padding-left: 0.2rem;
}

#listings th:last-child,
#listings td:last-child {
    padding-right: 0.2rem;
}

#listings th {
    text-align: left;
    white-space: wrap;
}

#listings th:last-child {
    width: 100%;
}

#listings td {
    white-space: wrap;
}

#listings .address {
    min-width: 16rem;
    max-width: 16rem;
}

#listings .price {
    min-width: 6rem;
    max-width: 6rem;
}

#listings .size {
    min-width: 6rem;
    max-width: 6rem;
}

#listings .price_over_area {
    min-width: 6rem;
    max-width: 6rem;
}

#listings .rooms {
    min-width: 4rem;
    max-width: 4rem;
}

#listings .build_year {
    min-width: 6rem;
    max-width: 6rem;
}

#listings .last_price {
    min-width: 14rem;
    max-width: 14rem;
}

#listings .first_seen {
    min-width: 8rem;
    max-width: 8rem;
}

#listings .agency {
    min-width: 8rem;
    max-width: 8rem;
}

#listings .google_maps {
    min-width: 8rem;
    max-width: 8rem;
}

#listings .info {
    min-width: 8rem;
    max-width: 8rem;
}

/* Sidebar */

.button {
    color: blue;
    text-decoration: none;
}

.button:hover {
    color: gray;
    cursor: pointer;
}

/* Listing info */

#listing-info {
    padding-left: 2rem;
    width: 100%;
}

#listing-info table {
    width: 100%;
}

#listing-info table td:last-child{
    width: 100%;
}

#listing-info-table th {
    text-align: right;
}

/* Charts */

#charts {
    width: 100%;
    min-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-left: 2rem;
}

.chart {
    max-height: 20rem;
}
