package web

templ Sidebar(contents templ.Component) {
	<div id="sidebar">
		<div id="heading">
			<div id="logo-container">
				<a href="/">
					<img src="/assets/logo.png" alt="Page logo"/>
					<h1 id="logo-text">Hus.ax</h1>
				</a>
			</div>
			<small>Fastigheter på Åland</small>
		</div>
		@contents
	</div>
}
